<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- подключаем кастомный стиль -->
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <p><small>Academic Blacklist — community project. Last updated: {{ site.time | date: "%Y-%m-%d" }}</small></p>
  </footer>
</body>
</html>

